*, html, body{
  padding: 0px;
  margin: 0px;
}


body {
  width: 100%;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}


.bg{
  height: 10vh;
  width: 100vw;
  position: fixed;
  z-index: 10;
}

.nav-border{
  padding-top: 10px;
  width: 100px;
  height: 50px;
}

li > a{
  width: 80px;
  height: 50px;
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 0px;
  margin-top: 0px;
}

li > a:hover {
  color: black;
}

.nav-navbar{
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);;
}

.nav-border{
  height: 10vh;
  width: 85px;
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
  overflow: hidden;
}


li > a {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

li > a:hover {
  color: rgba(255, 255, 255, 0.9);
}

.nav-border:hover {
  background-color: rgba(255, 255, 255, 0.1);
}



/*CONTENT*/
.content{
  margin: auto;
  padding-top: 100px;
  padding-bottom: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}


.btn-1a{
  margin-top: 70px;
  padding: 15px 60px;
  background: transparent;
  border: 1px solid violet;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  font-size: 14px;
}


.btn-1a:hover{
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.contacts{
  padding-top: 30px;
  letter-spacing: 5px;
}


.img-box > img{
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,0.4);
}


.contacts > a:hover{
  background-color: transparent;
}

.lead{
  text-transform: uppercase;
  font-size: 14px;
}


/*ABOUT*/
.intro{
 height: 50px;
 width: 100%;
 position: absolute;
 top: 100px;
 left: 0px;
}

.xl-msg{
  padding-top: 20px;
  font-size: 40px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #626262;
  padding-bottom: 10px;
}

.lg-msg{
  padding-top: 20px;
  font-size: 36px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-bottom: 0px;
}

.sm-msg{
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  padding-top: 0px;
  margin-left: 100px;
  margin-right: 100px;
}



.lg{
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  padding-bottom: 0px;
}

.sm{
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.about{
  margin: auto;
  padding-top: 30px;
  padding-bottom: 0;
  text-align: center;
  color: #5f5f5f;
}

.bio-desc{
  padding-top: 15px;
  padding-bottom: 30px;
  margin-right: 50px;
  margin-left: 50px;
  text-shadow: none;
  color: #5f5f5f;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;

}
.resume_link > a{
  text-transform: uppercase;
}

.resume_link > a:hover{
  text-decoration: none; 
}

.cell{
  border: 1px solid black;
}


.prog-color{
  animation: color-me-in 15s;  other keywords like "infinite alternate" can be useful here 
}

@keyframes color-me-in {
  0% {
    background: white;
  }
  16.66% {
    background: orangered;
  }
  33.32% {
    background: white;
  }
  49.98% {
    background: blue;
  }
  66.64% {
    background: white;
  }
   83.3% {
    background: orange;
  }
   99.6% {
    background: white;
  }
}

.skills-info{
  padding: 0;
  text-align: left;
  padding-top: 10px;
}


.educ_wrapper{
  height: 300px;
}

.header-text > a{
  width: 110px;
  height: 15px;
  font-size: 15px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 30px;
}



.footer_links{
  margin-top: 30px;
  display: inline-block;
  width: 100px;
}

.footer_links > a:hover{
  text-decoration: none;
}

.footer-msg{
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #ffffff;
  margin-top: 20px;
}

#gradient
{
  width: 98.65vw;
  height: 40vh;
  margin-right: 0px;
  padding-right: 0px;

}

#gradientfooter
{
  height: 30vh;

}


.logo {
  width: 50%;
  height: auto;
}


.cap1 {
  padding-left: 50px;
  padding-right: 0px;
  margin-right: 0px;
  width: 100%;
  height: auto;
}
    
.cap2 {
  padding-right: 50px;
  padding-left: 0px;
  width: 100%;
  height: auto;
}

.footer{
  text-align: center;
}

.cap1_link{
   margin-left: 0px;
   margin-right: 50px;
   margin-top: 50px;
   padding-left: 0px;
   padding-right: 0px;
}

.cap2_link{
   margin-left: 50px;
   margin-right: 0px;
   margin-top: 50px;
   padding-left: 0px;
   padding-right: 0px;
}

.portfolio_intro{
   margin-left: 0px;
   margin-right: 200px;
   padding-right: 0px;
   padding-left: 0px;
   text-align: justify;
}


.date{
  font-size: 18px;
  text-align: left;
  padding-left: 0px;
  font-weight: 700;
  margin-top: 30px;

}

.img-rght{
  text-align: right;
}

@media (max-width: 575.98px) {
#gradient{
  width: 100vw;
}

 .navbar-collapse{
  position: relative;
  top: 0px;
  left: -5px;
}


.lg-msg{
  margin-top: 0px;
  padding-top: 0px;
}

.sm-msg{
  padding-top: 0px;
  margin-left: 20px;
  margin-right: 20px;

}

.br{
  margin-top: 40px;
}

.footer{
  margin-top: 50px;
}


#gradientfooter
{
  margin-top: 150px;
  height: 30vh;

}

.footer_links{
  margin-top:   0px;
  width:  auto;
  color:  white;

}

.footer_links > a{
  font-size: 10px;
  display:  inline-block;
  color:  white;
  margin-bottom: 0px;
  padding-bottom:   0px;
}


.footer-msg{
  margin-top: 0px;
}

.collapse, .navbar-collapse{
  background-color: white;
  width: 100px;

}
.navbar, .navbar-expand-lg .bg{
  margin-right: 0px;
  padding-right: 0px;
}

.nav-border{
  width: 116.5%;
  margin-left: 20px;
  margin-right: 0px;
}


li > a{
  padding-top: 15px;
  text-decoration: none;
  font-size: 30px;
  color: #626262;
  text-align: center;


}

.content{
  padding-top: 100px;
}

.bio-desc{
  margin-left: 10px;
  margin-right:   10px;
}

.cap1_link{
  margin-right: 0px;
  margin-left: 0px;
}

.cap1_link{
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 50px;
   padding-left: 0px;
   padding-right: 0px;
}

.cap2_link{
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 50px;
   padding-left: 0px;
   padding-right: 0px;
}

.cap1 {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  width: 100%;
  height: auto;
}
    
.cap2 {
  padding-top: 20px;
  padding-right: 00px;
  padding-left: 0px;
  width: 100%;
  height: auto;
}

.portfolio_intro{

   margin-left: 0px;
   margin-right: 0px;
   padding-right: 0px;
   padding-left: 0px;

}



.date{
  text-align: center;
}


.img-rght{
  text-align: center;
}

}




/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
  .collapse, .navbar-collapse{
  background-color: white;

}


.nav-border{
  width: 116.5%;
  margin-left: 20px;
}


li > a{
  padding-top: 15px;
  text-decoration: none;
  font-size: 30px;
  color: #626262;
  text-align: center;


}

.footer_links > a{
  font-size: 10px;
  display:  inline-block;
  color:  white;
  margin-bottom: 0px;
  padding-bottom:   0px;
}

.content{
  padding-top: 200px;
}


#gradientfooter
{
  margin-top: 150px;
  height: 22vh;

}

#gradient{
  width: 100vw;
  height: 300px;
}


.img-rght{
  text-align: right;
  margin-top: 70px;
} 
}




